.head {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    padding: 10px;
    letter-spacing: 0.2px;
    display: grid;
    grid-template-columns: 0.25fr auto;
    grid-gap: 10px;
    background-color: #ffae1a;
    border-radius: 25px;
  }
  .home {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
  }
  .navbuttons {
    padding: 10px;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    transition: 0.5s;
  }
  .nav, .bhome {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    border-radius: 25px;
  }
  .nav:hover, .bhome:hover {
    background-color: black;
    color: white;
  }
  .nav.link-1{
    visibility: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
    .btn-link {
      border: none;
      border-width: 10px;
      outline: none;
      background: none;
      cursor: pointer;
      color: inherit;
      padding: 0;
      text-decoration: none;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
  }